@charset "utf-8";
@import "normalize";

body {
  background: #fff;
  color: #000;
  font: 300 18px/1.5 "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 1.5rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: blue;
}

header {
  margin-bottom: 1.5rem;
}

header .container {
  padding: 1.5rem 0;
}
