---
title: project middleman
---

<header>
  <div class="container">
    <h1>project middleman</h1>
    <p>A resource for creating middleman projects with <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.</p>
  </div>
</header>

<section>
  <div class="container">
    <p>Coming soon</p>
  </div>
</section>
